<!DOCTYPE html>
<html lang="en" style="height: 100%" >
<head>
    <meta charset="utf-8">
    <title>系统监控走势图</title>
    <!-- 最新版本的 Bootstrap 核心 CSS 文件 -->
<link rel="stylesheet" href="https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
<!-- 最新的 Bootstrap 核心 JavaScript 文件 -->
<script src="https://cdn.bootcss.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
    <script type="text/javascript" src="//cdn.bootcss.com/jquery/3.1.1/jquery.min.js"></script>
    <script type="text/javascript" src="//cdn.bootcss.com/socket.io/1.5.1/socket.io.min.js"></script>
    <!-- ECharts 3 引入 -->
    <script src="http://echarts.baidu.com/dist/echarts.min.js"></script>
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
</head>

<body style="height: 100%;width: 100%">

<div class="row" style="height:100% ">
    <div id="main" class="col-md-6" style="height:50%;border:1px solid #ccc;padding:10px;"></div>
    <div id="main1" class="col-md-6" style="height:50%;border:1px solid #ccc;padding:10px;"></div>
</div>
<script type="text/javascript">
    var myliuliang = echarts.init(document.getElementById('main1'));
    var myChart = echarts.init(document.getElementById('main'));
    myliuliang.setOption(
        {
            title: {
                text: '网络监控走势图'
            },
            tooltip: {},
            legend: {
                data: ['data_in', 'data_out', 'data_all']
            },
            xAxis: {
                name:'时间',
                data: [],
            },
            yAxis: {name:'（  kb/s）'},
            series: [
                {
                    name: 'data_in',
                    type: 'line',
                    data: []
                },
                {
                    name: 'data_out',
                    type: 'line',
                    data: []
                },
                {
                    name: 'data_all',
                    type: 'line',
                    data: []
                },
            ]
        }
    );
    myChart.setOption({
        title: {
            text: '系统监控走势图'
        },
        tooltip: {},
        legend: {
            data: ['cpu', 'process']
        },
        xAxis: {
            data: [],
            name:'时间'
        },
        yAxis: {name:'（  %）'},
        series: [{
            name: 'cpu',
            type: 'line',
            data: []
        }, {
            name: 'process',
            type: 'line',
            data: []
        }
        ]
    });


    var time = ["", "", "", "", "", "", "", "", "", ""],
        cpu = [0, 0, 0, 0, 0, 0, 0, 0, 0, 0],
    process = [0, 0, 0, 0, 0, 0, 0, 0, 0, 0]
    var min = ["", "", "", "", "", "", "", "", "", "", "","", "", "", "", "", "", "", "", "", "", "", "","", ],
    data_in = [0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0],
    data_out = [0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0],
    data_all = [0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0]

    //准备好统一的 callback 函数
    var update_mychart = function (res) {
        //res是json格式的response对象

        // 隐藏加载动画
        myChart.hideLoading();

        // 准备数据
        time.push(res.data[0]);
        cpu.push(parseFloat(res.data[1]));
        process.push(parseFloat(res.data[2]))
        if (time.length >= 10) {
            time.shift();
            cpu.shift();
            process.shift();
            myChart.setOption({
                xAxis: {
                    data: time
                },
                series: [{
                    name: 'cpu', // 根据名字对应到相应的系列
                    data: cpu
                }, {
                    name: 'process',
                    data: process
                }
                ]
            });
        }
    };
    var update_myliuliang = function (res) {
        myliuliang.hideLoading();
        min.push(res.data[0]);
        data_in.push(parseFloat(res.data[3]));
        data_out.push(parseFloat(res.data[4]));
        data_all.push(parseFloat(res.data[5]));
        if (min.length >= 14) {
            min.shift();
            data_in.shift();
            data_out.shift();
            data_all.shift();
        }
        myliuliang.setOption({
            xAxis: {
                data: min
            },
            series: [{
                name: 'data_in',
                data: data_in
            },
                {
                    name: 'data_out',
                    data: data_out
                },
                {
                    name: 'data_all',
                    data: data_all
                }]
        });
    };

    // 首次显示加载动画
    myChart.showLoading();
    myliuliang.showLoading();


    // 建立socket连接，等待服务器“推送”数据，用回调函数更新图表
    $(document).ready(function () {
        namespace = '/test';
        var socket = io.connect(location.protocol + '//' + document.domain + ':' + location.port + namespace);

        socket.on('server_response', function (res) {
            update_mychart(res);
            update_myliuliang(res);
        });

    });

</script>
</body>
</html>
